
.header {
  overflow: hidden;
  padding: 10px 10px;
  background-image: linear-gradient(#ffffff,  #fffae6, #fff8dc, #fff5cc);
}

.line {
  height: 2px;
  flex: 2;
  background:  	#8B0000;
  margin: 0 10px;
}

.home-container{
  float: left;
  position: relative;
  top: 30px;
  padding: 32px 5px;
}

.header img{
  float: right;
}

.home-container a:hover {
  font-size: 1em;
  padding: 12px; 
  font-weight: bold;
  text-decoration: none;
  cursor: auto;
  background-color: #ede0b6;
  color: #9f2914;
}

.home-container a {
  font-size: 1em;
  padding: 12px; 
  color: #000000;
  font-weight: bold;
  background-color: #9f2914;
  color: #ede0b6;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .home-container a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
