variables: 
 GIT_SUBMODULE_STRATEGY: recursive

stages:
 - prep
 - configure
 - build 
 - test
 
prep_build_environment:
 stage: prep
 script: 
  - mkdir build
 allow_failure: true

configure_cmake: 
 stage: configure
 variables: 
  GIT_STRATEGY: none
 script:
  - cd build
  - 'cmake ..'
 
build_debug: 
 stage: build
 variables: 
  GIT_STRATEGY: none 
  CONFIG: "Debug"
 script: 
  - 'cmake --build build/ --config $CONFIG --target all --'
 artifacts: 
  paths: 
   - "./build/tests/unit_tests/*"
  
run_unit_tests: 
 stage: test
 variables: 
  GIT_STRATEGY: none 
 script: 
  - cd build
  - ctest

check_code_coverage: 
 stage: test 
 variables: 
  GIT_STRATEGY: none 
 script: 
  - cd tools
  - ./check_code_coverage.sh
