variables: 
 GIT_SUBMODULE_STRATEGY: recursive

include: 
 - local: "ci-variables.yml"
 
stages:
 - configure
 - build 
 - test
 - analyze
 - package
 - deploy
 - trigger
 
configure_release_cmake: 
 stage: configure
 variables: 
  GIT_STRATEGY: fetch
 script:
  - './.do_release.sh build'
 only: 
  - /Release.*/

configure_debug_cmake: 
 stage: configure
 variables: 
  GIT_STRATEGY: fetch 
 script:
  - mkdir -p build
  - cd build
  - 'cmake -DCMAKE_TOOLCHAIN_FILE=./compiler-toolchain.cmake -DCMAKE_BUILD_TYPE="Debug" ..'
 except: 
  - /Release.*/
 
build_debug: 
 stage: build
 variables: 
  GIT_STRATEGY: none 
  CONFIG: "Debug"
 script: 
  - 'cmake --build build/ --config $CONFIG --target all --'
 coverage: '/Total:\|(\d+\.?\d+\%)/'
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Build_Binaries"
  paths: 
   - build/
 except: 
  - /Release.*/
  
build_release: 
 stage: build
 variables: 
  GIT_STRATEGY: none 
  CONFIG: "Release"
 script: 
  - 'cmake --build build/ --config $CONFIG --target all --'
 coverage: '/Total:\|(\d+\.?\d+\%)/'
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Release_Build_Binaries"
  paths: 
   - build/
 only: 
  - /Release.*/
  
run_unit_tests: 
 stage: test
 variables: 
  GIT_STRATEGY: none 
 script: 
  - cd build
  - ctest --verbose

test_for_memory_leaks: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none
 script: 
  - "./.run_valgrind.sh -e $VALGRIND_EXECUTABLE -a $VALGRIND_EXECUTABLE_ARGS"
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Valgrind_Results"
  paths:
  - valgrind-results.log
 only: 
  variables: 
   - $RUN_VALGRIND == "true" 
 allow_failure: true

check_code_coverage: 
 stage: analyze 
 variables: 
  GIT_STRATEGY: none 
 script: 
  - ./.check_code_coverage.sh
 dependencies:
  - run_unit_tests
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
  paths:
  - code_coverage_report/
 allow_failure: true
 
generate_documentation: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - doxygen Doxyfile 
  - cp -v docs/code_documentation/hs_logo.png docs/code_documentation/html
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
  paths: 
  - docs/code_documentation/
  expire_in: 30 days
 only: 
  - /Release.*/
 allow_failure: true
 
package_tgz: 
 stage: package
 variables: 
  GIT_STRATEGY: none 
 script:
  - cd build
  - cpack
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Package"
  paths: 
  - build/cpack_packages/*
  expire_in: 99 yrs
 only: 
  - /Release.*/
 allow_failure: true
  
pages:
 stage: deploy
 dependencies:
    - check_code_coverage
    - generate_documentation 
    - package_tgz
 script:
    - ./.make_public.sh -n $CI_PROJECT_NAME -l $CI_PROJECT_URL
 artifacts:
   paths:
     - public
 only: 
  - /Release.*/
 allow_failure: true

update_versioning: 
 stage: trigger
 script: 
  - ./.update_versioning.sh $CI_REPOSITORY_URL $TRIGGER_RELEASE $RELEASE_TYPE
 only: 
  - master
 except: 
  - /Release.*/
 allow_failure: true
