include: "ci-variables.yml"
 
stages:
 - build 
 - test
 - analyze
 - package
 - deploy
 - trigger
 
build:debug: 
 stage: build
 script: 
  - mkdir -p build
  - cd build
  - 'cmake -DCMAKE_TOOLCHAIN_FILE=cmake/native-toolchain.cmake -DCMAKE_BUILD_TYPE="Debug" ${CMAKE_VARIABLES} ..'
  - 'cmake --build . --config Debug --target all --'
 coverage: '/Total:\|(\d+\.?\d+\%)/'
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_LINUX_Debug_Build_Binaries"
  paths: 
   - build/
 except: 
  - /Release.*/
 allow_failure: true

build:release: 
 stage: build
 script: 
  - 'utility/.do_release.sh build no "${CMAKE_VARIABLES}"'
  - 'cmake --build ./build --config Release --target all --'
 coverage: '/Total:\|(\d+\.?\d+\%)/'
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_LINUX_Release_Build_Binaries"
  paths: 
   - build/
 only: 
  - /Release.*/
 allow_failure: true

test:release_build: 
 stage: test
 variables: 
  GIT_STRATEGY: none 
 script: 
  - cd build
  - ctest --verbose
 only: 
  - /Release.*/

test:debug_build: 
 stage: test
 variables: 
  GIT_STRATEGY: none 
 script: 
  - cd build
  - ctest --verbose
 except: 
  - /Release.*/

analyze_memory_usage:debug_build: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - echo "Sending ${VALGRIND_EXECUTABLE} as exec and ${VALGRIND_EXECUTABLE_ARGS} as args" 
  - utility/.run_valgrind.sh -e ${VALGRIND_EXECUTABLE} -a ${VALGRIND_EXECUTABLE_ARGS}
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Valgrind_Results"
  paths:
  - valgrind_results/valgrind-results.log
 only: 
  variables: 
   - $RUN_VALGRIND == "true" 
 except: 
  - /Release.*/
 allow_failure: true

analyze_memory_usage:release_build: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - utility/.run_valgrind.sh -e ${VALGRIND_EXECUTABLE} -a ${VALGRIND_EXECUTABLE_ARGS}
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Release_Valgrind_Results"
  paths:
  - valgrind_results/valgrind-results.log
 only: 
  variables: 
   - $RUN_VALGRIND == "true"
  refs:  
   - /Release.*/  
 allow_failure: true

check_code_coverage:debug_build: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - utility/.check_code_coverage.sh
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
  paths:
  - code_coverage_report/
 except: 
  - /Release.*/
 allow_failure: true

check_code_coverage:release_build: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - utility/.check_code_coverage.sh
 artifacts:                                                           
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Coverage_Results"
  paths:
  - code_coverage_report/
 only: 
  - /Release.*/
 allow_failure: true

run_linter:release_build:
 stage: analyze
 variables: 
  GIT_STRATEGY: none
 script: 
  - utility/.run_linter.sh build ${CI_PROJECT_URL} ${CI_PROJECT_ID} ${CI_API_V4_URL} ${GITLAB_USER_ID} ${CI_COMMIT_REF_NAME}
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Release_Linting_Results"
  paths: 
  - linting_results
  expire_in: 30 days
 except:
  - code_formating
 only: 
  - /Release.*/
 allow_failure: true

run_linter:debug_build:
 stage: analyze
 variables: 
  GIT_STRATEGY: none
 script: 
  - utility/.run_linter.sh build ${CI_PROJECT_URL} ${CI_PROJECT_ID} ${CI_API_V4_URL} ${GITLAB_USER_ID} ${CI_COMMIT_REF_NAME}
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Debug_Linting_Results"
  paths: 
  - linting_results
  expire_in: 30 days
 except: 
  - /Release.*/
  - code_formating 
 allow_failure: true

generate_autodoc: 
 stage: analyze
 variables: 
  GIT_STRATEGY: none 
 script: 
  - doxygen utility/Doxyfile 
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Code_Documentation"
  paths: 
  - docs/code_documentation/
  expire_in: 30 days
 only: 
  - /Release.*/
 allow_failure: true

package_tar: 
 stage: package
 variables: 
  GIT_STRATEGY: none 
 script:
  - cd build
  - cpack --verbose
 artifacts: 
  name: "Commit:${CI_COMMIT_SHORT_SHA}_Package"
  paths: 
  - build/cpack_packages/*
  expire_in: 99 yrs
 only: 
  - /Release.*/
 allow_failure: true
 
pages:
 stage: deploy
 variables: 
  GIT_STRATEGY: none 
 dependencies:
    - check_code_coverage:release_build
    - generate_autodoc 
    - package_tar
 script:
    - utility/.make_public.sh -n $CI_PROJECT_NAME -l $CI_PROJECT_URL
 artifacts:
   paths:
     - public
 only: 
  - /Release.*/
 allow_failure: true

update_versioning: 
 stage: trigger
 before_script:
  - git config --global user.email ${GITLAB_USER_EMAIL}
  - git config --global user.name ${GITLAB_USER_ID}
 script: 
  - utility/.update_versioning.sh $CI_REPOSITORY_URL $TRIGGER_RELEASE $RELEASE_TYPE
 only: 
  - master
 except: 
  - /Release.*/
 allow_failure: true